@import "../../../../styles/variables";

.sp-adm-account-main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background: rgb(22, 27, 43);
    overflow: hidden;

    .sp-adm-account-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px;

        h1 {
            margin-bottom: 30px;
            color: #fff;
        }

        table {
            border: 1px solid $primary-admin-green-color;
            border-collapse: collapse;
            width: 60%;

            thead {
                border-bottom: 1px solid $primary-admin-green-color;

                tr {
                    th {
                        &:first-child {
                            width: 20%;
                        }

                        padding: 10px;
                        color: #fff;

                        &:not(:last-child) {
                            border-right: 1px solid $primary-admin-green-color;
                        }
                    }
                }
            }

            tbody {
                tr {
                    &:not(:last-child) {
                        border-bottom: 1px solid $primary-admin-green-color;
                    }

                    td {
                        padding: 10px;

                        &:not(:last-child) {
                            border-right: 1px solid $primary-admin-green-color;
                        }
                        &:last-child{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        color: #fff;
                    }
                }
            }

            tfoot {
                border-top: 1px solid $primary-admin-green-color;

                tr {
                    th {
                        color: #fff;

                        &:not(:last-child) {
                            border-right: 1px solid $primary-admin-green-color;
                            padding: 10px;
                        }
                    }
                }
            }
        }
    }
}