.user-pass-creater-main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .user-pass-creater-form-container {
        border: 1px solid rgb(181, 181, 181);
        padding: 20px;
        border-radius: 10px;
        h1{
            width: 100%;
            text-align: center;
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            input {
                margin-block: 20px;
                height: 40px;
                width: 300px;
                border: 1px solid rgb(169, 169, 169);
                padding: 5px 20px;
                font-size: 18px;
                outline: none;
                border-radius: 10px;
            }
        }
    }
}