@import "../../../styles/mixins";
@import "../../../styles/variables";

.user-page-main {
    height: calc(100vh - 100px);
    display: flex;
    align-items: flex-start;
    justify-content: center;

    .user-page-qr-section {
        width: fit-content;
        height: fit-content;
        margin-top: 40px;
        @media (max-width: 600px) {
            width: 80%;
        }

        .user-page-qr-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            @media (max-width: 600px) {
                width: 100%;
            }

            .user-page-qr-img-container {
                margin-bottom: 40px;
                border: 2px solid $primary-color;
                border-radius: $primary-border-radius;
                @media (max-width: 600px) {
                    width: 100%;
                }

                img {
                    width: 250px;
                    border-radius: $primary-border-radius;
                    @media (max-width: 600px) {
                        width: 100%;
                    }
                }
            }

            .countdown-container {
                font-size: 20px;
                margin-bottom: 20px;
            }

            .user-download-qr-btn {
                @include button();
            }
        }
    }

    .user-page-response-bottom-nav-section {
        position: fixed;
        bottom: 2px;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .user-page-bottom-nav-container {
            width: 95%;
            height: 80px;
            background: $primary-color;
            border-radius: 40px;
            display: flex;
            align-items: center;
            justify-content: center;

            .user-bottom-nav-qr-gen-btn-container {
                width: 250px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: $primary-color;
                height: 100%;
                position: relative;

                .bottom-nav-curve-first {
                    position: absolute;
                    top: 0;
                    left: 77px;
                    background: $primary-color;
                    width: 15px;
                    height: 15px;
                    border-radius: 0 15px 0 0;
                    box-shadow: 3px -6px #fff;
                }

                .bottom-nav-curve-second {
                    position: absolute;
                    top: 0;
                    right: 77px;
                    background: $primary-color;
                    width: 15px;
                    height: 15px;
                    border-radius: 15px 0 0 0;
                    box-shadow: -3px -6px #fff;
                }

                .user-bottom-nav-qr-container {
                    width: fit-content;
                    height: fit-content;
                    background: #fff;
                    padding: 8px;
                    border-radius: 50%;
                    margin-bottom: 80px;

                    .user-bottom-nav-qr-gen-icon-container {
                        background: yellow;
                        width: fit-content;
                        height: fit-content;
                        padding: 10px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}