@import "../../../../styles/variables";

.sp-adm-wt-app-filter-container {
    position: fixed;
    top: 50px;
    right: 100px;

    .sp-adm-wt-app-filter-icon-container {
        padding: 10px;
        border: 1px solid $primary-admin-green-color;
        width: fit-content;
        border-radius: 10px;
        cursor: pointer;

        .sp-adm-wt-app-filter-icon {
            font-size: 35px;
            color: $primary-admin-green-color;
        }
    }

    .sp-adm-wt-app-fiter-form-container {
        position: relative;

        form {
            border: 1px solid $primary-admin-green-color;
            padding: 20px;
            border-radius: 10px;
            position: absolute;
            top: 30px;
            right: -80px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            background: $primary-admin-color;
            select{
                width: 150px;
                background: transparent;
                color: $primary-admin-green-color;
                border: 1px solid $primary-admin-green-color;
                border-radius: 10px;
                padding: 10px;
                margin-block: 10px;
                cursor: pointer;
                outline: none;
                option{
                    color: #000;
                    cursor: pointer;
                }
            }
            button{
                width: 100px;
                height: 40px;
                background: $primary-admin-green-color;
                color: $primary-admin-color;
                cursor: pointer;
                font-size: 18px;
                border: 1px solid $primary-admin-green-color;
                border-radius: 10px;
                transform: translateX(30%);
                transition: all 400ms;
                &:hover{
                    background: transparent;
                    color: $primary-admin-green-color;
                }
            }
        }
    }
}