@import "../../styles/variables";

.user-header {
    width: 100%;
    border-bottom: 1px solid rgb(216, 216, 216);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

    .user-nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 600px) {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .header-logo {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: calc(100% / 3);

            h1 {
                color: $primary-color;
            }

            @media (max-width: 600px) {
                width: calc(100%);
            }
        }

        .header-pages {
            display: flex;
            align-items: center;
            justify-content: center;
            width: calc(100% / 3);

            @media (max-width: 600px) {
                display: none;
            }

            ul {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                width: 100%;

                li {
                    list-style-type: none;
                    position: relative;

                    .header-page-link-qr {
                        text-decoration: none;
                        cursor: pointer;
                        // color: $primary-color;
                        color: rgb(146, 146, 146);
                        font-size: 18px;
                        transition: all 400ms;
                        &:hover{
                            color: $primary-color;
                        }
                    }

                    .header-page-link-history {
                        text-decoration: none;
                        cursor: pointer;
                        // color: $primary-color;
                        color: rgb(146, 146, 146);
                        font-size: 20px;
                        transition: all 400ms;
                        &:hover{
                            color: $primary-color;
                        }
                    }
                    .header-page-link-about {
                        text-decoration: none;
                        cursor: pointer;
                        // color: $primary-color;
                        color: rgb(146, 146, 146);
                        font-size: 20px;
                        transition: all 400ms;
                        &:hover{
                            color: $primary-color;
                        }
                    }

                    // &:after {
                    //     content: "";
                    //     position: absolute;
                    //     bottom: -5px;
                    //     left: 0;
                    //     width: 0;
                    //     height: 4px;
                    //     background: $primary-color;
                    //     border-radius: 20px;
                    //     transition: all 400ms;
                    // }

                    // &:hover:after {
                    //     width: 100%;
                    // }
                }
            }
        }

        .user-header-profile {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: calc(100% / 3);
            margin-right: 20px;

            p {
                width: fit-content;
                margin-right: 10px;
            }

            @media (max-width: 600px) {
                width: calc(100% / 2);
                display: none;

                p {
                    width: 70px;
                }
            }
        }

        .nav-log-out {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 150px;
            border: 2px solid $primary-color;
            padding: 10px 0;
            border-radius: $primary-border-radius;

            @media (max-width: 600px) {
                display: none;
            }

            cursor: pointer;

            .nav-log-out-icon {
                margin-right: 10px;
                color: $primary-color;
            }

            .nav-log-out-txt {
                color: $primary-color;
            }
        }
    }
}