@import "../../styles/variables";

.user-header {
    width: 100%;
    border-bottom: 1px solid rgb(216, 216, 216);
    height: 80px;
    display: flex;
    align-items: center;
    padding: 20px;

    .user-nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .header-logo {
            display: flex;
            align-items: center;
            width: calc(100% / 3);

            @media (max-width: 600px) {
                width: calc(100% / 2);
            }
        }

        .header-pages {
            width: calc(100% / 3);

            @media (max-width: 600px) {
                display: none;
            }

            ul {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                width: 100%;

                li {
                    list-style-type: none;
                    cursor: pointer;
                    position: relative;

                    &:after {
                        content: "";
                        position: absolute;
                        bottom: -5px;
                        left: 0;
                        width: 0;
                        height: 4px;
                        background: $primary-color;
                        border-radius: 20px;
                        transition: all 400ms;
                    }

                    &:hover:after {
                        width: 100%;
                    }
                }
            }
        }

        .user-header-profile {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: calc(100% / 3);

            p {
                width: fit-content;
            }

            @media (max-width: 600px) {
                width: calc(100% / 2);

                p {
                    width: 70px;
                }
            }
        }

        .burger-menu {
            width: 250px;
            height: 100vh;
            position: fixed;
            top: 0;
            right: 0;
            background: $primary-color;
            transition: all 400ms;

            .burger-menu-close-icon-container {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 20px;

                .burger-menu-close-icon {
                    color: #fff;
                    font-size: 40px;
                }

                .burger-menu-digimeal-logo {
                    display: flex;
                    align-items: center;
                    color: #fff;

                    p {
                        color: #fff;
                        font-size: 25px;
                    }
                }
            }
            .burger-menu-profile-info{
                padding: 20px;
                border-top: 1px solid #fff;
                border-bottom: 1px solid #fff;
                h3{
                    color: #fff;
                }
            }
            .burger-menu-pages {
                padding: 20px;

                ul {
                    li {
                        color: #fff;
                        font-size: 18px;
                        list-style: none;

                        &:first-child {
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }
    }
}