.scanner-home{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: calc(100vh - 200px);
    .scanner-container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: 90%;
        .qr-reader{
            width: 70%;
            height: 100%;
        }
    }
}