@import "../../../../styles/variables";

.admin-login-main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(46, 54, 77);

    .admin-login-main-container {
        height: 600px;
        width: 40%;
        background: $primary-admin-color;
        padding: 20px;
        border-radius: $primary-border-radius;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .admin-login-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 40px;

            h2 {
                color: rgb(109, 197, 168);
                text-align: center;
                margin-bottom: 20px;
                font-size: 30px;
            }

            .admin-login-text-logo {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 2    0px;

                h3 {
                    color: rgb(109, 197, 168);
                    width: 260px;
                    font-size: 40px;
                    font-family: monospace;
                    white-space: nowrap;
                    overflow: hidden;
                    border-right: 5px solid;
                    letter-spacing: 5px;
                    animation: typing 2s linear infinite,
                        blink 0.7s step-end infinite;
                }
            }
        }

        .admin-login-form {
            width: 500px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .admin-login-username-container {
                width: 450px;
                height: 55px;
                margin-bottom: 20px;
                // border: 1px solid rgb(109, 197, 168);
                border-bottom: 1px solid rgb(107, 110, 119);
                background: rgb(48, 53, 66);
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 5px;
                position: relative;

                input {
                    height: 50px;
                    width: 100%;
                    background: transparent;
                    font-size: 18px;
                    outline: none;
                    color: #fff;
                    border: none;
                    &:focus,
                    &:valid {
                        color: #fff;
                    }
                    &:focus+.admin-login-username-placeholder,
                    &:valid+.admin-login-username-placeholder {
                        color: #fff;
                        padding: 2px 10px;
                        transform: translate(10px, -28px);
                        font-size: 18px;
                        background: rgb(107, 110, 119);
                        border-radius: 5px;
                    }
                }

                .admin-login-username-placeholder {
                    color: #fff;
                    font-size: 18px;
                    position: absolute;
                    top: 18px;
                    left: 5px;
                    transition: all 400ms;
                }
            }

            .admin-login-password-container {
                width: 450px;
                height: 55px;
                // border-radius: $primary-border-radius;
                border-bottom: 1px solid rgb(107, 110, 119);
                // border: 1px solid rgb(48, 53, 66);
                background: rgb(48, 53, 66);
                position: relative;
                padding: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 20px;

                input {
                    height: 50px;
                    width: 100%;
                    background: transparent;
                    outline: none;
                    font-size: 18px;
                    color: #fff;
                    border: none;

                    &:focus,
                    &:valid {
                        color: #fff;
                    }

                    &:focus+.admin-login-password-placeholder,
                    &:valid+.admin-login-password-placeholder {
                        color: #fff;
                        padding: 2px 10px;
                        transform: translate(10px, -28px);
                        font-size: 18px;
                        background: rgb(107, 110, 119);
                        border-radius: 5px;
                    }
                }

                .admin-login-password-placeholder {
                    color: #fff;
                    font-size: 18px;
                    position: absolute;
                    top: 16px;
                    left: 5px;
                    transition: all 400ms;
                }
            }

            .admin-login-submit-btn {
                margin-top: 40px;
                width: 150px;
                height: 50px;
                border-radius: $primary-border-radius;
                border: 1px solid rgb(109, 197, 168);
                background: rgb(109, 197, 168);
                color: #fff;
                font-size: 18px;
                transition: all 400ms;
                cursor: pointer;

                &:hover {
                    background: transparent;
                    color: rgb(109, 197, 168);
                }
            }
        }
    }
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 250px;
    }
}